#!/bin/bash
# Author: Sine
# Contact: sinerwr@gmail.com

## GET params
env=$1

## GET git_tags
git_tag=`git describe --always --tag`

settings_file="settings.py"
## BUILD
cd AutoO
cp -f settings.py.sample settings.py
if [[ "$env" == "staging" ]]; then
	sed -i s/##MYSQL_default_HOST##/TYPE_YOUR_INFO/g $settings_file #host
	sed -i s/##MYSQL_default_NAME##/TYPE_YOUR_INFO/g $settings_file #db name
	sed -i s/##MYSQL_default_USER##/TYPE_YOUR_INFO/g $settings_file #username
	sed -i s/##MYSQL_default_PASS##/TYPE_YOUR_INFO/g $settings_file #password
	sed -i s/##MYSQL_master1_HOST##/TYPE_YOUR_INFO/g $settings_file #host
	sed -i s/##MYSQL_master1_NAME##/TYPE_YOUR_INFO/g $settings_file #db name
	sed -i s/##MYSQL_master1_USER##/TYPE_YOUR_INFO/g $settings_file #username
	sed -i s/##MYSQL_master1_PASS##/TYPE_YOUR_INFO/g $settings_file #password
elif [[ "$env" == "production" ]]; then
	sed -i s/##MYSQL_default_HOST##/TYPE_YOUR_INFO/g $settings_file #host
	sed -i s/##MYSQL_default_NAME##/TYPE_YOUR_INFO/g $settings_file #db name
	sed -i s/##MYSQL_default_USER##/TYPE_YOUR_INFO/g $settings_file #username
	sed -i s/##MYSQL_default_PASS##/TYPE_YOUR_INFO/g $settings_file #password
	sed -i s/##MYSQL_master1_HOST##/TYPE_YOUR_INFO/g $settings_file #host
	sed -i s/##MYSQL_master1_NAME##/TYPE_YOUR_INFO/g $settings_file #db name
	sed -i s/##MYSQL_master1_USER##/TYPE_YOUR_INFO/g $settings_file #username
	sed -i s/##MYSQL_master1_PASS##/TYPE_YOUR_INFO/g $settings_file #password
else
	echo "USAGE error: $0 staging or $0 production"
fi
cd ../
