{% extends "admin_base.html" %}
{% load display %}

{% block app %}
	<div class="title_container">
		<span class="title_more">
			<form id="query_form" action="?query" method=post>
				<select name="pid">
					<option value="">所属项目</option>
					{% for proj in projects %}
					<option value="{{ proj.id }}">{{ proj.name }}</option>
					{% endfor %}
				</select>
				<select name="srv">
					<option value="">应用类型</option>
					<option value="APP">APP</option>
					<option value="DB">DB</option>
				</select>
				<input type="text" name="ip" placeholder="IP地址" />
				<select name="status">
					<option value="">所有</option>
					<option value="0">待释放</option>
					<option value="1" selected>在用</option>
				</select>
				<input type="submit" value="查询">
			</form>
		</span>
	</div>
	<div>
		<div class="title_container"><h1><button>添加资产</button></h1></div><br>
		输入IP地址 <input type="text" id="ipaddr" name="ipaddr" value="112.124.67.134" />
		<button id="GetServer" class="getinfo">开始获取</button>
		<p></p>
		<form id="Asset_add">
			<select id="Asset_proj" name="Asset_proj">
				<option>所属项目</option>
				{% for proj in projects %}
				<option value="{{ proj.id }}">{{ proj.name }}</option>
				{% endfor %}
			</select>
			<select id="Asset_type" name="Asset_type">
				<option value="1">物理机</option>
				<option value="2" selected>虚拟机</option>
			</select>
			<select id="Asset_srv" name="Asset_srv">
				<option value="">应用类型</option>
				<option value="APP">APP</option>
				<option value="DB">DB</option>
			</select>
			描述<input type="text" size="12" id="Asset_desc" placeholder="电商前端应用1">
			<p></p>
			<input type="text" size="20" id="Asset_hostname" placeholder="主机名">
			<input type="text" size="8" id="Asset_cpu" placeholder="CPU（核）">
			<input type="text" size="8" id="Asset_mem" placeholder="RAM(MB)">
			<input type="text" size="8" id="Asset_disk" placeholder="DISK(GB)">
			<p></p>
			<textarea id="Asset_ip" rows=3 cols=19 placeholder="192.168.168.168"></textarea>
			<p></p>
			<input type="submit" value="添加资产" />
			<input type="reset" value="清除数据">
			<span id="Asset_stat"></span>
		</form>
	</div>
	<div id="APP_listStaff">
		<div class="title_container"><h1>待宰羔羊</h1></div><br />
		<table class="datatable">
			<tr>
				<th>项目</th>
				<th>IP</th>
				<th>主机名</th>
				<th>描述</th>
				<th>类型</th>
				<th>服务</th>
				<th>运行状态</th>
				<!--<th>cacti</th>
				<th>nagios</th>-->
				<th>操作</th>
			</tr>
        {% for data in data_list %}
            <tr>
            	<td>{{ data.pid.name }}</td>
            	<td title="{{ data.ip }}">{{ data.ip | str_to_br:"|" | safe }}</td>
            	<td>{{ data.hostname }}</td>
            	<td title="{{ data.desc }}">{{ data.desc }}</td>
            	<td>{{ data.type }}</td>
				<td>{{ data.srv }}</td>
				<td>
					{% ifequal data.status 1 %}
					在用
					{% else %}
					未用
					{% endifequal %}
				</td>
             	<!--<td>
					{% ifequal data.cacti '1' %}
					已添加
					{% else %}
					未添加
					{% endifequal %}
				</td>
            	<td>
					{% ifequal data.nagios '1' %}
					已添加
					{% else %}
					未添加
					{% endifequal %}
				</td>-->
            	<td>
					<button onclick="window.location.href={{ data.id }}">查询</button>
					<button class="red" onclick="delAsset({{ data.id }})">删除！！</button>
				</td>
            </tr>
        {% endfor %}
		</table>
		<p>&nbsp</p>
		<center>
			<a href="{{ url_fp }}"><<</a>
			<a href="{{ url_pp }}"><</a>
			<a href="{{ url_np }}">></a>
			<a href="{{ url_lp }}">>></a>
		</center>
		<div>&nbsp</div>
	</div>
{% endblock %}