{% extends "admin_base.html" %}

{% block app %}
				<div class="title_container">
					<span class="title_more">
						<form id="query_form" action="?query" method=post>
							<select name="pid">
								{{ record_time }}
								<option value="">所属项目</option>
								{% for proj in projects %}
								<option value="{{ proj.id }}">{{ proj.name }}</option>
								{% endfor %}
							</select>
							<select name="srv">
								<option value="">应用类型</option>
								<option value="APP">APP</option>
								<option value="DB">DB</option>
							</select>
							<input type="text" name="ip" placeholder="第一IP地址" />
							<input type="text" name="ip_2" placeholder="第二IP地址" />
							<select name="status">
								<option value="">所有</option>
								<option value="0">待释放</option>
								<option value="1" selected>在用</option>
							</select>
							<!--<input type="submit" value="查询" />-->
							<input type="submit" value="查询">
						</form>
					</span>
				</div>
				<div>
				<div class="title_container"><h1>新资产</h1></div><br>
				<form id="Asset_add">
					<select id="Asset_proj" name="Asset_proj">
						<option>所属项目</option>
						{% for proj in projects %}
						<option value="{{ proj.id }}">{{ proj.name }}</option>
						{% endfor %}
					</select>
					<input type="text" size="15" id="Asset_ip" placeholder="172.21.1.1">
					<input type="text" size="15" id="Asset_ip_2" placeholder="192.168.1.1">
					<input type="text" size="8" id="Asset_cpu" placeholder="CPU（核）">
					<input type="text" size="8" id="Asset_mem" placeholder="MEM（G）">
					<input type="text" size="8" id="Asset_disk" placeholder="DISK（G）">
					
					<select id="Asset_type" name="Asset_type">
						<option value="1">物理机</option>
						<option value="2" selected>虚拟机</option>
					</select>
					<select id="Asset_srv" name="Asset_srv">
						<option value="">应用类型</option>
						<option value="APP">APP</option>
						<option value="DB">DB</option>
					</select>
					描述<input type="text" size="15" id="Asset_desc" placeholder="电商前端应用1">
					<input type="submit" value="添加资产" />
					<span id="Asset_stat"></span>
				</form>
			</div>
			<div id="APP_listStaff">
				<div class="title_container"><h1>待宰羔羊</h1></div><br />
				<table class="datatable">
					<tr>
						<th>项目</th>
						<th>IP</th>
						<th>描述</th>
						<th>类型</th>
						<th>服务</th>
						<th>运行状态</th>
						<th>cacti</th>
						<th>nagios</th>
						<th>操作</th>
					</tr>
          {% for data in data_list %}
            <tr>
              <td>{{ data.pid.name }}</td>
              <td>
								{{ data.ip }}
								{% if data.ip_2 %}
									<br>{{ data.ip_2 }}
								{% endif %}
							</td>
              <td title="{{ data.desc }}">{{ data.desc }}</td>
              <td>{{ data.type }}</td>
							<td>{{ data.srv }}</td>
							<td>
								{% ifequal data.status 1 %}
								在用
								{% else %}
								未用
								{% endifequal %}
							</td>
              <td>
								{% ifequal data.cacti '1' %}
								已添加
								{% else %}
								未添加
								{% endifequal %}
							</td>
              <td>
								{% ifequal data.nagios '1' %}
								已添加
								{% else %}
								未添加
								{% endifequal %}
							</td>
              <td>
								<button onclick="window.location.href={{ data.id }}">查询</button>
								<button class="red" onclick="delAsset({{ data.id }})">删除！！</button>
							</td>
            </tr>
          {% endfor %}
				</table>
				<p>&nbsp</p>
				<center>
					<a href="{{ url_fp }}"><<</a>
					<a href="{{ url_pp }}"><</a>
					<a href="{{ url_np }}">></a>
					<a href="{{ url_lp }}">>></a>
				</center>
				<div>&nbsp</div>
			</div>
{% endblock %}