{% extends "admin_base.html" %}

{% block app %}
  			<div class="title_container">
				<span class="title_more">
					<form id="query_form">
						<input type="text" id="query_name" placeholder="暂时无法查询" />
						<!--<input type="submit" value="查询" />-->
					</form>
				</span>
			</div>
			<div>
				<div class="title_container"><h1>新账号</h1></div><br />
				<form id="Accnt_add">
					工号<input type="text" size="5" id="Accnt_id" />
					姓名<input type="text" size="5" id="Accnt_name" />
					密码<input type="password" size="20" id="Accnt_pass" />
					管理员<input type="radio" name="Accnt_mgr" value=1>是
          <input type="radio" name="Accnt_mgr" value=0>否
					项目授权
          <select id="Accnt_proj">
            <option value="-1">所有项目</option>
            {% for proj in project_list %}
            <option value="{{ proj.id }}">{{ proj.name }}</option>
            {% endfor %}
          </select>
					<input type="submit" value="生成账号" />
					<span id="Account_stat"></span>
				</form>
			</div>
			<div id="APP_listStaff">
				<div class="title_container"><h1>小伙伴</h1></div><br />
				<table class="datatable">
					<tr>
						<th width=10%>工号</th>
						<th>姓名</th>
						<th>状态</th>
						<th>后台</th>
						<th>项目</th>
            <th>创建</th>
						<th width=20%>操作</th>
					</tr>
          {% for accnt in account_list %}
            <tr>
              <td>{{ accnt.account }}</td>
              <td>{{ accnt.name }}</td>
            {% ifequal accnt.status 1 %}
              <td>可登录</td>
            {% else %}
              <td>已禁用</td>
            {% endifequal %}
            {% ifequal accnt.authorize '1' %}
              <td>允许</td>
            {% else %}
              <td>拒绝</td>
            {% endifequal %}
              <td>{{ accnt.module }}</td>
              <td>{{ accnt.regist_time }}</td>
              <td>
                <button class="btn" onclick="accnt_op({{ accnt.id }},'admin')">后台授权</button>
                <button class="red" onclick="accnt_op({{ accnt.id }},'status')">冻结/解冻</button>
              </td>
            </tr>
          {% endfor %}
      </div>
{% endblock %}