<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="Content-Language" content="zh-cn" />
	<meta http-equiv="Content-Type" content="text/html" />
	<meta http-equiv="X-UA-Compatible" content="IE=9" />
	<meta name="description" content="自动化运维平台" />
	<title></title>
	<link rel="stylesheet" href="/static/css/css.css" />
  <script src="/static/js/jquery-1.7.2.min.js"></script>
  <script src="/static/js/jquery.sha1.js"></script>
{% block script %}
{% endblock %}
</head>
<body scroll=auto>
	<!-- 顶栏开始 -->
	<header id="APP_top">
		<!-- LOGO开始 -->
		<div id="APP_top_logo">
			<a href="/"><img src="/static/img/logo.png" /></a>
		</div>
		<!-- LOGO结束 -->
		<!-- 用户区开始 -->
		<div id="APP_top_user">
			当前用户：{{ request.session.user_name }}
			<a href="/chgpass">更改密码</a>
			<a href="/logout?key={{ request.session.logoutAuth }}">安全退出</a>
		</div>
		<!-- 用户区结束 -->
		<!-- 导航区开始 -->
		<nav id="APP_top_nav">
			<ul>
{% block nav %}
				<li><a href="/">首页</a></li>
				{% if request.session.user_admin %}
				<li><a href="/admin">后台</a></li>
				{% endif %}
				<li><a href="/server">资产</a></li>
{% endblock %}
			</ul>
		</nav>
		<!-- 导航区结束 -->
	</header>
	<!-- 顶栏结束 -->
	<!-- 主容器开始 -->
	<div id="APP_main">

{% block app %}
{% endblock %}

	</div>
	<div id="infomation">
	</div>
	<!-- 主容器结束 -->
	<!-- 页脚开始 -->
	<footer id="APP_foot">
		<div id="APP_foot_copyright">
			Copyright © 2014 - 2017<br />
		</div>
		<div id="APP_foot_license">
			<div>本项目遵循Apache2.0协议开源</div>
			<div>SingleConer</div>
		</div>
	</footer>
	<!-- 页脚结束 -->
</body>
</html>