{% extends "user_base.html"%}

{% block app %}
    <p></p>
    <form method="post">
        输入IP地址 <input type="text" name="ipaddr" value="112.124.67.134" /><br />
        选择系统类型
        <select name="os">
            <option value="0">Linux</option>
            <option value="1">Windows</option>   
        </select>
        <input type="submit" name="submit" value="开始获取" />
    </form>
    <table>
    	<th>{{ ipaddr }} 信息提取</th>
    	<tr>
    		<td>主机名</td>
    		<td>{{ result_name }}</td>
    	</tr>
    	<tr>
    		<td>CPU核数</td>
    		<td>{{ result_cpu }}</td>
    	</tr>
    	<tr>
    		<td>内存容量</td>
    		<td>{{ result_mem }}MB</td>
    	</tr>
    	<tr>
    		<td>IP地址</td>
    		<td>eth0: {{ result_ip1 }}<br />eth1: {{ result_ip2 }}</td>
    	</tr>
    	<tr>
    		<td>磁盘容量</td>
    		<td>{{ result_test }}</td>
    	</tr>
    	<tr>
    </table>
{% endblock %}
